<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <style>
            .delete{
                position:fixed;
                bottom : 5%;
                /* right : 45%; */
                text-align :  center;
            }
        </style>
    </head>
    
<body>
    <%- include('partials/header.ejs') %>

    <main>
        <div class="container ">
            <h4 class="section">
                <%= data.title %>
            </h4>
            
            <p class="flow-text">
                <%= data.content %>
            </p>

            <h5 class="right">
                <%= data.submitter %>
            </h5>

            <% if(data.submitter == user){ %>
                <a href="" id="delete"
                    data-doc="<%= data._id %>"
                     class="btn-floating btn-large delete brown">
                    <i class="material-icons ">delete</i>
                </a>
            <% } %>
            
        </div>
    </main>
</body>
<script>
   
</script>
</html>